@charset "UTF-8";
* {
  user-select: none;
  margin: 0 auto;
}

/* 全域 border box */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background-color: #2D2D3A;
  padding: 0px;
  margin: 0px;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  background-color: #2D2D3A;
  color: #fff;
  box-shadow: 0px 0px 17px -1px rgba(255, 255, 255, 0.1);
}

.container h1 {
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 25px;
  margin: 10px;
  margin-bottom: 30px;
}

.container .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 15px;
  color: #8CC554;
}

.container .playagain {
  cursor: pointer;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 45px;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  background-color: #2D2D3A;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.container .playagain:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.container .txt {
  font-size: 10px;
  margin-top: 5px;
}

.container .rankline {
  width: 80%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .rankline .circle {
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  background-color: #FBC439;
  color: #2D2D3A;
  font-weight: 900;
  margin: 5px;
  border: 2px solid black;
}

.container .rankline .username {
  width: 160px;
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
}

.container .rankline .timenum, .container .rankline .stepnum {
  width: 40px;
  text-align: center;
  font-size: 10px;
  margin: 2px;
}

.container hr {
  height: 0px;
  border: none;
  border-top: 0.5px dashed grey;
  width: 70%;
  min-width: 100px;
  margin-left: 70px;
}
