@charset "UTF-8";
* {
  user-select: none;
  margin: 0 auto;
  font-family: Trebuchet MS;
}

/* 全域 border box */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background-color: #2D2D3A;
  padding: 0px;
  margin: 0px;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: #2D2D3A;
  color: #fff;
}

.container h1 {
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 25px;
  margin: 10px;
  margin-bottom: 30px;
}

.container #homeicon {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 23px;
  left: 27px;
}

.container #playicon {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 23px;
  right: 23px;
}

.container .rankline {
  width: 80%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .rankline .numicon {
  color: #FBC439;
  margin: 5px 0px 2px 20px;
  padding-left: 0px;
}

.container .rankline .num {
  color: #2D2D3A;
  margin-left: -21px;
  margin-top: 2px;
  font-weight: 900;
  text-align: center;
  padding: 0px;
}

.container .rankline .username {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding-left: 13px;
}

.container .rankline .timenum, .container .rankline .stepnum {
  width: 40px;
  text-align: center;
  font-size: 10px;
  margin: 2px;
}

.container hr {
  height: 0px;
  border: none;
  border-top: 0.5px dashed grey;
  width: 78%;
  min-width: 100px;
  margin-left: 55px;
}

@media screen and (min-width: 765px) {
  .container {
    width: 70%;
    max-width: 700px;
    font-size: 25px;
  }
  .container #homeicon, .container #playicon {
    font-size: 40px;
  }
  .container .rankline .num {
    margin-left: -30px;
  }
  .container .rankline .username {
    padding-left: 5px;
  }
  .container .rankline .timenum, .container .rankline .stepnum {
    font-size: 15px;
    width: 70px;
  }
  hr {
    height: 0px;
    border: none;
    border-top: 0.5px dashed grey;
    width: 78%;
    min-width: 100px;
    margin-left: 55px;
  }
}
